asgiref==3.8.1
Django==5.2.2
sqlparse==0.5.3
python-dateutil==2.8.2
django-anymail==10.2
python-dotenv==1.0.0
gunicorn==23.0.0
psycopg2-binary==2.9.9
boto3==1.34.47
dj-database-url==2.2.0
black==25.1.0
